
<div class="info_holder">
	<div class="pic"></div>
	<div class="info">
		<h1><%=@bar.name %></h1>			
		<h4>Start Time: <%=@bar.convert_to_time('start')%></h4>
		<h4>End Time: <%=@bar.convert_to_time('end')%></h4>
		<h4>Contact: <%=@bar.contact%></h4>
		<h4>Area: <%=@bar.area%></h4>
    <div class="span8">
      <%= render 'follow_form' if signed_in? %>
    </div>   
	</div>
</div>


<div class="comment_holder">
  <%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field" id="newComment">
      <%= f.label :comment %><br />
      <%= f.text_field :comment %>
    </div>
    <div class="field">
      <%#= f.label :user_id %><br />
      <%#= f.number_field :user_id %>
    </div>
    <div class="field">
      <%= f.hidden_field :bar_id, value: @bar.id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  <div class="comments">
    <% @bar.comments.each do |comment| %>
      <%= comment.comment %><br>
    <% end %>
  </div>
</div>